<div class="container">
<% @ideas.each do |idea|%>
<div class="card m-4">
    <div class="card-body">
    <h2><%= link_to(idea.title, idea_path(idea.id))%></h2>
    <p><%= idea.description%></p>
    <p>By <%= idea.user&.full_name%></p>
    </div>
</div>
<%end%>


</div>
