<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
<div class="navbar-brand">

    <%= image_tag("logo.jpeg", width:"32",class:"image ml-4")%>
    <div>
    <%= link_to("Idea Factory", root_path)%>
    </div>
</div>
<div>
<%= link_to("New Idea", new_idea_path, class:"btn btn-outline-dark shadow-lg")%>
</div>
</nav>